Types: deb
URIs: https://mirrors.tuna.tsinghua.edu.cn/docker-ce/linux/ubuntu
# URIs: https://download.docker.com/linux/ubuntu
Suites: ${DISTRIB_CODENAME}
Components: stable
Signed-By: /usr/share/keyrings/docker-keyring.gpg
